{% extends 'base.html' %}
{% block title %} Đăng nhập {% endblock %}
{% block content %}

{% if boolean == True%}
{% else %}
{% endif %}

<form method="POST">
  <br/>
    <h2 align="center">Phờ lát</h2>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="emal"
        name="email"
        placeholder="Enter your email"
      />
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>

{% endblock %}
