{% extends 'base.html' %} {% block title %} Đăng ký {% endblock %}
{% block
content %}

<form method="POST">
  <br/>
  <h2 align="center">Phờ lát</h2>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="emal"
      name="email"
      placeholder="Nhập meo"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Tên</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Tên mày là gì ?"
    />
  </div>
  <div class="form-group">
    <label for="password1">Mật khẩu</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Pass mày là gì ?"
    />
  </div>
  <div class="form-group">
    <label for="password2">Xác nhận mật khẩu</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Chắc chưa ?"
    />
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>

{% endblock %}